/* body {
  overflow: hidden;
  position: relative;
  background-image: url("../src/sunny.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: change 30s infinite ease-in-out;
}
@keyframes change {
  20% {
    background-image: url("../src/rainy.jpeg");
  }
  40% {
    background-image: url("../src/thunderstorm.jpeg");
  }
  60% {
    background-image: url("../src/night.jpeg");
  }
  80% {
    background-image: url("../src/snow.jpeg");
  }
}
.row {
  padding-top: 600px;
  padding-bottom: 200px;
  margin: 0 auto;
  padding-left: 20px;
}
.header,
.temperature {
  font-size: 20px;
  border: 50px;
} */
