body {
  background-image: url("../src/screenII.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  padding: 30px;
  border: 1px solid #000;
  border-radius: 100px;
  font-family: "Kalam", cursive;
  margin-top: 10px;
}
.content-wrapper {
  max-width: 600px;
  margin: 30px auto;
  text-align: center;
}
.heading {
  text-align: center;
  font-size: 80px;
  color: black;
  margin-top: 0px;
}
#icon {
  width: 200px;
  margin: 0 auto;
}
ul {
  list-style: none;
  text-align: center;
  width: fit-content;
  display: inline-block;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.units,
img {
  position: relative;
  left: 50%;
}
.parameters {
  position: relative;
  left: 50%;
}
strong {
  font-size: 30px;
  font-weight: 200px;
}
small {
  position: relative;
  top: -20px;
}
.condition {
  margin-left: 10px;
  text-transform: capitalize;
}

.git {
  position: relative;
  top: 30px;
}
.border {
  border-radius: 70px;
  position: relative;
  top: 50px;
  padding: 50px;
  border: 1px solid #000;
  font-family: "Kalam", cursive;
}
.hum,
.win {
  margin-left: 10px;
}

a {
  text-decoration: none;
}
.active {
  color: #000;
}
.active:hover {
  color: #000;
}
.image-width {
  margin: 0px;
  display: inline;
  width: 50px;
}
/* body {
  overflow: hidden;
  position: relative;
  background-image: url("../src/sunny.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: change 30s infinite ease-in-out;
}
@keyframes change {
  20% {
    background-image: url("../src/rainy.jpeg");
  }
  40% {
    background-image: url("../src/thunderstorm.jpeg");
  }
  60% {
    background-image: url("../src/night.jpeg");
  }
  80% {
    background-image: url("../src/snow.jpeg");
  }
} */
